{% extends 'base.html' %}
{% block content %}
<h1 class="py-5 text-center display-4">Crear Producto</h1>
<form method="post" class="row d-flex justify-content-center" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-8 card p-5 shadow-sm">
    <div class="row">
      <div class="col-6">
        <div class="form-group mb-2 mb-2">
          <label style="font-weight: bold;" for="prod_name">Nombre del Producto:</label>
          <input type="text" id="prod_name" name="prod_name" class="form-control" required
            value="{{ form.prod_name.value|default:'' }}">
          {{ form.prod_name.errors }}
        </div>

        <div class="form-group mb-2">
          <div class="d-flex">
            <label style="font-weight: bold;" style="font-weight: bold;" for="prod_new">Producto Nuevo:</label><input
              type="checkbox" id="prod_new" name="prod_new" class="form-check ms-3"
              value="{{ form.prod_new.value|default:'' }}">
          </div>
          <div class="alert alert-light" role="alert">
            <i class=" " style="">Si tu producto <b>no está marcado como nuevo</b>, se mostrará como usado.</i>
          </div>

          {{ form.prod_new.errors }}
        </div>

        <div class="form-group mb-2">
          <div class="d-flex">
            <label style="font-weight: bold;" for="permuta">Intercambio:</label>
            <input type="checkbox" id="permuta"
              name="permuta" class="form-check  ms-3" value="{{ form.permuta.value|default:'' }}">
          </div>
          <div class="alert alert-light" role="alert">
            <i>Si tu producto <b>no está marcado como intercambio</b>, se mostrará como venta.</i>
          </div>

          {{ form.permuta.errors }}
        </div>

        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_price">Precio del Producto:</label>
          <input type="number" id="prod_price" name="prod_price" class="form-control" required
            value="{{ form.prod_price.value|default:'' }}">
          {{ form.prod_price.errors }}
        </div>

        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_description">Descripción del Producto:</label>
          <textarea id="prod_description" name="prod_description" class="form-control"
            required>{{ form.prod_description.value|default:'' }}</textarea>
          {{ form.prod_description.errors }}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_affinitie1">Afinidad del Producto 1:</label>
          <input type="number" id="prod_affinitie1" name="prod_affinitie1" class="form-control" required
            value="{{ form.prod_affinitie1.value|default:'' }}">
          {{ form.prod_affinitie1.errors }}
        </div>

        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_affinitie2">Afinidad del Producto 2:</label>
          <input type="number" id="prod_affinitie2" name="prod_affinitie2" class="form-control"
            value="{{ form.prod_affinitie2.value|default:'' }}">
          {{ form.prod_affinitie2.errors }}
        </div>

        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_photo1">Foto del Producto 1:</label>
          <input type="file" id="prod_photo1" name="prod_photo1" class="form-control" required>
          {{ form.prod_photo1.errors }}
        </div>

        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_photo1">Foto del Producto 2:</label>
          <input type="file" id="prod_photo2" name="prod_photo2" class="form-control" required>
          {{ form.prod_photo2.errors }}
        </div>


        <div class="form-group mb-2">
          <label style="font-weight: bold;" for="prod_photo3">Product Photo 3:</label>
          <input type="file" id="prod_photo3" name="prod_photo3" class="form-control" required>
          {{ form.prod_photo3.errors }}
        </div>
      </div>

      <div class="row justify-content-center ">
        <button type="submit" class="btn btn-primary mt-5 col-6">Crear producto</button>
      </div>
</form>

</div>
</div>
<!-- repeat for the other photo fields -->
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}