{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="{% static 'cardAndModal.css' %}">

<div class="container my-4">
    <div class="row" id="products-container">
        {% for product in products %}
        <div class="col-4 my-2">
            <div class="card h-100">
                <img class="tind-card-img" src="{{ product.prod_photo1.url }}" alt="Card image cap"
                    onerror="imgError(this);">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title tind-title ">{{ product.prod_name }}</h3>
                            <p class="tind-price">$ {{ product.prod_price | intcomma }}</p>
                        </div>

                        {% if request.session.user_id %}
                        <div class="col-3 d-flex justify-content-center align-items-center ">
                            {% include 'btn-like.html' %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="row">

                    </div>


                    <div class="row pb-3 justify-content-around">
                        <div class="col-5 tind-desc text-center d-flex align-items-center">
                            <p class="p-0 m-0">Publicado hace: <br> {{ product.prod_date|timesince }}</p>
                        </div>
                        <div class="col-5 tind-btn-preferences">
                            {% include 'categories.html' %}
                        </div>
                    </div>

                    <p class="tind-desc">Descripción: {{ product.prod_description }}</p>

                    <div class="row">
                        <div class="col">
                            {% if product.prod_new %}
                            <p>Condición: <span class="badge text-bg-primary">Nuevo</span></p>
                            {% else %}
                            <p>Condición: <span class="badge text-bg-warning">Usado</span></p>
                            {% endif %}
                        </div>

                        <div class="col">
                            {% if product.permuta %}
                            <div style="color:#F5487F; border: #F5487F solid 1px;" class="text-center rounded">
                                <b>Intercambio
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg class="svg-icon " style="width: 15px; " viewBox="0 0 1308 1024" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" fill="#F5487F">
                                        <path
                                            d="M1088.768 263.594667l-191.345778 248.376889h157.809778c0 205.511111-195.413333 401.009778-400.810667 401.009777-62.691556 0-122.339556-15.473778-173.710222-43.463111l-90.851555 62.293334a492.088889 492.088889 0 0 0 264.419555 77.056c274.289778 0 496.611556-222.293333 496.611556-496.896h157.809777l-219.932444-248.376889zM253.496889 511.971556c0-205.511111 195.413333-401.009778 400.782222-401.009778 62.72 0 122.368 15.473778 173.738667 43.463111l90.709333-62.293333A492.088889 492.088889 0 0 0 654.279111 15.075556C380.017778 15.075556 157.696 237.368889 157.696 511.971556H0.028444l219.790223 248.376888 191.345777-248.376888H253.496889z" />
                                    </svg>
                                </b>
                            </div>
                            {% else %}
                            <div style="color:#F5487F; border: #F5487F solid 1px;" class="text-center rounded">
                                <b>Venta

                                    <svg fill="#F5487F" style="    width: 15px;" version="1.1" id="Capa_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 372.372 372.372" xml:space="preserve">
                                        <path
                                            d="M368.712,219.925c-5.042-8.951-14.563-14.511-24.848-14.511c-4.858,0-9.682,1.27-13.948,3.672l-83.024,46.756
                                		c-1.084,0.61-1.866,1.642-2.163,2.85c-1.448,5.911-4.857,14.164-12.865,19.911c-8.864,6.361-20.855,7.686-35.466,3.939
                                		c-0.088-0.022-0.175-0.047-0.252-0.071L148.252,267.6c-2.896-0.899-4.52-3.987-3.621-6.882c0.72-2.316,2.83-3.872,5.251-3.872
                                		c0.55,0,1.101,0.084,1.634,0.249l47.645,14.794c0.076,0.023,0.154,0.045,0.232,0.065c11.236,2.836,20.011,2.047,26.056-2.288
                                		c7.637-5.48,8.982-15.113,9.141-16.528c0.006-0.045,0.011-0.09,0.014-0.136c0.003-0.023,0.004-0.036,0.005-0.039
                                		c0.001-0.015,0.002-0.03,0.003-0.044c0.001-0.01,0.001-0.019,0.002-0.029c0.909-11.878-6.756-22.846-18.24-26.089l-0.211-0.064
                                		c-0.35-0.114-35.596-11.626-58.053-18.034c-2.495-0.711-9.37-2.366-19.313-2.366c-13.906,0-34.651,3.295-54.549,19.025
                                		L1.67,292.159c-1.889,1.527-2.224,4.278-0.758,6.215l44.712,59.06c0.725,0.956,1.801,1.584,2.99,1.744
                                		c0.199,0.027,0.398,0.04,0.598,0.04c0.987,0,1.954-0.325,2.745-0.935l57.592-44.345c1.294-0.995,3.029-1.37,4.619-0.995
                                		l93.02,21.982c6.898,1.63,14.353,0.578,20.523-2.9l130.16-73.304C371.555,251.012,376.418,233.61,368.712,219.925z" />
                                        <path
                                            d="M316.981,13.155h-170c-5.522,0-10,4.477-10,10v45.504c0,5.523,4.478,10,10,10h3.735v96.623c0,5.523,4.477,10,10,10h142.526
                                		c5.523,0,10-4.477,10-10V78.658h3.738c5.522,0,10-4.477,10-10V23.155C326.981,17.632,322.503,13.155,316.981,13.155z
                                		 M253.016,102.417h-42.072c-4.411,0-8-3.589-8-8c0-4.411,3.589-8,8-8h42.072c4.411,0,8,3.589,8,8
                                		C261.016,98.828,257.427,102.417,253.016,102.417z M306.981,58.658h-3.738H160.716h-3.735V33.155h150V58.658z" />

                                    </svg>
                                </b>
                            </div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <svg class="col-4 px-0" height="38" viewBox="0 0 38 38" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="19" cy="19" r="19" fill="#D9D9D9" />
                                </svg>
                                <div class="col px-0 d-flex flex-column">
                                    <span class="tind-seller-title">
                                        {{ product.prod_seller.user_name1 }}
                                        {{product.prod_seller.user_surname1 }}
                                    </span>
                                    <span class="tind-seller-p">
                                        se unio : {{product.prod_seller.date_registred}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center align-items-center">
                            {% if request.session.user_id %}
                            <a class="tind-btn-buy " data-bs-toggle="modal" data-bs-target="#productModal"
                                data-prod-id="{{ product.prod_id }}" role="button"> Lo quiero </a>
                            {% else %}
                            <a class="btn btn-primary btn-sm " href="{% url 'register' %}" role="button"> Registrate
                                para adquirir</a>
                            {% endif %}
                        </div>



                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="row">
                        <div class="modal-body" id="productModalBody">
                            <!-- Los detalles del producto se cargarán aquí -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% if request.path == '/' %}
        <div class="container text-center">
            <div class="row">
                <div class="col align-self-center mt-5">
                    <div class="btn-group " role="group" aria-label="Default button group">
                        <button id="load-more-btn" class="btn btn-primary">Cargar más productos</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>

<script>

        // Definir imgError fuera del bloque $(document).ready
    function imgError(image) {
        image.onerror = "";
        image.src = "";
        let svg = '<svg  height="60" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-3"><path d="M28 1.414L26.586 0L0 26.586L1.414 28L3.414 26H24C24.5302 25.9992 25.0384 25.7882 25.4133 25.4133C25.7882 25.0384 25.9992 24.5302 26 24V3.414L28 1.414ZM24 24H5.414L13.207 16.207L15.586 18.586C15.9611 18.9609 16.4697 19.1716 17 19.1716C17.5303 19.1716 18.0389 18.9609 18.414 18.586L20 17L24 20.997V24ZM24 18.168L21.414 15.582C21.0389 15.2071 20.5303 14.9964 20 14.9964C19.4697 14.9964 18.9611 15.2071 18.586 15.582L17 17.168L14.623 14.791L24 5.414V18.168ZM4 20V17L9 12.003L10.373 13.377L11.789 11.961L10.414 10.586C10.0389 10.2111 9.53033 10.0004 9 10.0004C8.46967 10.0004 7.96106 10.2111 7.586 10.586L4 14.172V4H20V2H4C3.46973 2.00053 2.96133 2.21141 2.58637 2.58637C2.21141 2.96133 2.00053 3.46973 2 4V20H4Z" fill="black" /></svg>';
        image.outerHTML = '<div class="w-100 position-relative d-flex align-items-center p-3 bg-light justify-content-center" style="height: 238px;">' + svg + '<p class="m-0"><b>¡Ups!</b> al parecer este producto<br> <i>no tiene imagen</i></p></div>';
        return true;
    }


    $(document).ready(function () {
        $('.like-btn').click(function () {
            $(this).addClass('animate__animated animate__tada');
        });
        // Ocultar todas las tarjetas de productos
        $('.card').hide();
        $('#footer').hide();

        // Iterar sobre cada tarjeta de producto y mostrarla con un retraso
        $('.card').each(function (index) {
            var productCard = $(this);
            setTimeout(function () {
                productCard.addClass('animate__animated animate__fadeInUp');
                productCard.show();
            }, 200 * index);
        });
        $('#footer').show();
        $('.tind-btn-buy').click(function () {
            var prodId = $(this).data('prod-id');
            var url = "{% url 'product_detail' 'prod_id_placeholder' %}".replace('prod_id_placeholder', prodId);
            $.get(url, function (data) {
                console.log(data);
                $('#productModalBody').html(data);
            });
        });

    });
</script>