{% extends 'base.html' %}
{% block content %}

<style>
    .no-underline {
        text-decoration: none !important;
    }

    .bold {
        font-weight: bold;
    }

    .normal {
        font-weight: normal;
    }

    .card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  overflow: hidden;
}
.tind-card-img {
  height: 238px;
}
.tind-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.tind-price {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.tind-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}
.tind-btn-buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 103px;
  height: 43.67px;

  background: #8f3b76;
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.tind-seller-title {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}
.tind-seller-p {
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
}
.tind-btn-preferences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #eeeeee;
  border-radius: 12px;
}
.like-btn {
  cursor: pointer;
}
.modal{
    --bs-modal-width: 80%;

    overflow-y: auto;
    outline: 0;
}

.modal-content{
  background-color: transparent;
}
.tind-modal-r-content {
  border-radius: 30px;
}
.tind-modal-r-content {
  border-radius: 30px;
  overflow: hidden;
}

.tind-modal-title{
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}
.tind-modal-price {
  font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
.tind-modal-body{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
}
</style>



<div style="color:#8f3b76">
    </br>
    <h1 class="text-center"><i class="fas fa-heart"></i> Tus productos favoritos <i class="fas fa-heart"></i></h1>
</div>
{% if favorites %}
<div class="container">
    <div class="row">
        {% for favorite in favorites %}
        <div class="col-12 mb-4">
            <div class="p-3 border rounded" style="background-color: lightgray;">
                <div class="d-flex align-items-center">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <img src="https://placehold.co/200x100" class="w-100" />
                    </div>
                    <div class="col-2">
                        <a href="" class="text-reset no-underline">
                            <h5 class="mb-3 bold">{{ favorite.product.prod_name }}</h5>
                            <h6 class="normal">Precio: $ {{ favorite.product.prod_price}}</h6>
                        </a>
                    </div>
                    <div class="col-2">
                        <p class="p-0 m-0">Publicado hace: {{ favorite.product.prod_date|timesince }}</p>
                        <div class="col-5 tind-btn-preferences">
                            <p>Categoria: {% include 'categories.html' with product=favorite.product %}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="" class="text-reset no-underline normal">
                            <p>{{ favorite.product.prod_description }}</p>
                        </a>
                    </div>
                    <div class="col-2">
                        <p class="text-center">Vendido por: {{ favorite.product.prod_seller.user_name1 }}
                            {{favorite.product.prod_seller.user_surname1 }}</p>
                    </div>
                    <div class="col-1">
                        {% if favorite.product.prod_new %}
                        <p><span class="badge bg-primary">Nuevo</span></p>
                        {% else %}
                        <p><span class="badge bg-warning">Usado</span></p>
                        {% endif %}
                        <button type="button" class="btn btn-primary">Lo quiero</button>
                        <a class="tind-btn-buy " data-bs-toggle="modal" data-bs-target="#productModal"
                            data-prod-id="{{ favorite.product.prod_id }}" role="button"> Lo quiero </a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tienes ningún producto favorito aún.</p>
    {% endif %}
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="modal-body" id="productModalBody">
                    <!-- Los detalles del producto se cargarán aquí -->
                </div>

            </div>
        </div>
    </div>
</div>





{% endblock %}