{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'favorites.css' %}">
<div style="color:#8f3b76">
  </br>
  <h1 class="text-center"><i class="fas fa-heart"></i> Tus productos favoritos <i class="fas fa-heart"></i></h1>
</div>

{% if favorites %}
<div class="container">
  <div class="row" style="height: 120px;">
    {% for favorite in favorites %}

    </br>
    <div class="container">
      <div class="row" style="height: 120px;">
        <div class="col-4 d-flex align-items-center justify-content-center"
          style="border-radius: 30px; background-size: cover; background-position: center;" onerror="imgError(this)">
        </div>

        <div class="col-8 d-flex align-items-center justify-content-center"
          style="margin-left: -90px; border-radius: 0 0 30px 30px; background: #E6E6E6;">

          <div class="row align-items-center">
            <div class="col-3 d-flex align-items-center">
              <a href="" class="text-reset no-underline">
                <h5 class="mb-3 bold">{{ favorite.product.prod_name }}</h5>
                <h6 class="normal">Precio: $ {{ favorite.product.prod_price}}</h6>
              </a>
            </div>

            <div class="col-3 d-flex align-items-center">
              <h6 class="p-0 m-0">Publicado hace: {{ favorite.product.prod_date|timesince }}</h6>
              <div class="col-5">
                <h6 style="text-align: center;"><small>Categoria:</small></h6>
                <h6 class="favorito"><small><small>{% include 'categories.html' with product=favorite.product %}</small></small></h6>
              </div>
            </div>

            <div class="col-2 d-flex align-items-center">
              <a class="text-reset no-underline normal" style="text-align: center;">
                <h6><small>{{ favorite.product.prod_description }}</small></h6>
              </a>
            </div>


            <div class="col-2 d-flex align-items-center">
              <h6 class="text-center">Vendido por: {{ favorite.product.prod_seller.user_name1 }}
                {{favorite.product.prod_seller.user_surname1 }}</h6>
            </div>

            <div class="col-1">
              {% if favorite.product.prod_new %}
              <p><span class="badge bg-primary">Nuevo</span></p>
              {% else %}
              <p><span class="badge bg-warning">Usado</span></p>
              {% endif %}

              <a class="tind-btn-buy " data-bs-toggle="modal" data-bs-target="#productModal"
                data-prod-id="{{ favorite.product.prod_id }}" role="button"> Lo quiero </a>

            </div>
          </div>
        </div>

      </div>
      </br>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <p>No tienes ningún producto favorito aún.</p>
  {% endif %}
</div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="modal-body" id="productModalBody">
          <!-- Los detalles del producto se cargarán aquí -->
        </div>

      </div>
    </div>
  </div>
</div>

<script>

  // Definir imgError fuera del bloque $(document).ready
  function imgError(image) {
    image.onerror = "";
    image.src = "";
    let svg = '<svg  height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-3"><path d="M28 1.414L26.586 0L0 26.586L1.414 28L3.414 26H24C24.5302 25.9992 25.0384 25.7882 25.4133 25.4133C25.7882 25.0384 25.9992 24.5302 26 24V3.414L28 1.414ZM24 24H5.414L13.207 16.207L15.586 18.586C15.9611 18.9609 16.4697 19.1716 17 19.1716C17.5303 19.1716 18.0389 18.9609 18.414 18.586L20 17L24 20.997V24ZM24 18.168L21.414 15.582C21.0389 15.2071 20.5303 14.9964 20 14.9964C19.4697 14.9964 18.9611 15.2071 18.586 15.582L17 17.168L14.623 14.791L24 5.414V18.168ZM4 20V17L9 12.003L10.373 13.377L11.789 11.961L10.414 10.586C10.0389 10.2111 9.53033 10.0004 9 10.0004C8.46967 10.0004 7.96106 10.2111 7.586 10.586L4 14.172V4H20V2H4C3.46973 2.00053 2.96133 2.21141 2.58637 2.58637C2.21141 2.96133 2.00053 3.46973 2 4V20H4Z" fill="black" /></svg>';
    image.outerHTML = '<div class="position-relative d-flex flex-column align-items-center p-3 bg-light justify-content-center col">' + svg + '<p class="m-0" style="    font-size: 12px;"><b>¡Ups!</b> al parecer este producto<br> <i>no tiene imagen</i></p></div>';
    return true;
  }


  $(document).ready(function () {
    $('.like-btn').click(function () {
      $(this).addClass('animate__animated animate__tada');
    });
    // Ocultar todas las tarjetas de productos
    $('.card').hide();
    $('#footer').hide();

    // Iterar sobre cada tarjeta de producto y mostrarla con un retraso
    $('.card').each(function (index) {
      var productCard = $(this);
      setTimeout(function () {
        productCard.addClass('animate__animated animate__fadeInUp');
        productCard.show();
      }, 200 * index);
    });
    $('#footer').show();
    $('.tind-btn-buy').click(function () {
      var prodId = $(this).data('prod-id');
      var url = "{% url 'product_detail' 'prod_id_placeholder' %}".replace('prod_id_placeholder', prodId);
      $.get(url, function (data) {
        console.log(data);
        $('#productModalBody').html(data);
      });
    });

  });
</script>

{% endblock %}