{% extends 'base.html' %}

{% block content %}
<h1>Tus productos favoritos</h1>

{% if favorites %}
<div class="container">
    <div class="row">
        {% for favorite in favorites %}


        <div class="col-lg-4 col-md-4 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="https://placehold.co/200x100" class="w-100" />
                    <a href="#!">
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                {% if favorite.product.prod_new %}
                                <p><span class="badge text-bg-primary">Nuevo</span></p>
                                {% else %}
                                <p><span class="badge text-bg-warning">Usado</span></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                    </a>
                </div>

                <div class="card-body">
                    <a href="" class="text-reset">
                        <h5 class="card-title mb-3">{{ favorite.product.prod_name }}</h5>
                    </a>
                    <a href="" class="text-reset">
                        <p>{{ favorite.product.prod_description }}</p>
                    </a>
                    <h6 class="mb-3">Precio: $ {{ favorite.product.prod_price}}</h6>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>

            </div>


        </div>
        {% endfor %}
        {% else %}
        <p>No tienes ningún producto favorito aún.</p>
        {% endif %}

    </div>
</div>

{% endblock %}