<footer>
  <div class="container" id="footer" style="  background-color: rgb(255, 255, 255); color:rgb(0, 0, 0);">
    <div id="weather-widget"></div>

  </div>

</footer>

<script>
      function getWeatherByLocation() {
        navigator.geolocation.getCurrentPosition(function (position) {
          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          var url = 'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&units=metric&appid=f9fa5864acceeac1881e98d5f989a59a&lang=es';
          fetch(url)
            .then(response => response.json())
            .then(data => {
              var widget = document.getElementById('weather-widget');
              var description = data.weather[0].description;

              // Mapeo de descripciones
              var weatherMap = {
                'nubes': 'nublado',
                'muy nuboso': 'muy nublado',
                // Añade aquí otras descripciones según sea necesario
              };

              // Si la descripción obtenida está en el mapeo, usar la descripción mapeada.
              if (description in weatherMap) {
                description = weatherMap[description];
              }

              widget.innerHTML = 'El clima en ' + data.name + ' es ' + description + ' y la temperatura es de' + data.main.temp + '°C';
            })
            .catch(error => console.error(error));
        });
      }
      window.addEventListener('load', getWeatherByLocation);
</script>
