{% extends 'base.html' %}

{% block content %}

<div style="
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
      ">
  {% if user is not None %}
  <h1>¡Bienvenido! {{ user.user_name1 }}</h1>
  {% if message %}
  <div class="alert alert-light">{{ message }}</div>
  {% endif %}
  {% else %}
  <h1>Bienvenido!</h1>
  <p>No se pudo comprobar si hay un usuario registrado</p>
  {% endif %}
</div>


{% include 'cardAndModal.html' %}

<script>
  $(document).ready(function () {
    const loadMoreBtn = document.getElementById("load-more-btn");
    const productsContainer = document.getElementById("products-container");
    const productCards = productsContainer.getElementsByClassName("col-4");

    let visibleProducts = 3;
    if (productCards.length > 3) {
      loadMoreBtn.style.display = "none";
    }


    loadMoreBtn.addEventListener("click", () => {
      let hiddenProducts = 0;
      for (let i = visibleProducts; i < visibleProducts + 3 && i < productCards.length; i++) {
        productCards[i].classList.remove("hidden");
        hiddenProducts++;
      }
      visibleProducts += hiddenProducts;

      if (visibleProducts >= productCards.length) {
        loadMoreBtn.style.display = "none";
      }
    });

    $('.tind-btn-buy').click(function () {
      var prodId = $(this).data('prod-id');
      $.get("{% url 'product_detail' %}?prod_id=" + prodId, function (data) {
        $('#productModalBody').html(data);
      });
    });
  });
</script>

{% endblock %}