<div id="carouselExampleSlidesOnly" class="position-relative carousel slide overflow-hidden tind-carrousel-custom"
    data-bs-ride="carousel">
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
            <div class=" w-100  tind-image tind-image-1 d-flex align-items-center " alt="...">
                <div class="ms-4">
                    <h2 class="text-white"><b>¿Aún no te registras?</b>, <br>prueba ahora TindPlace</h2>
                    <a name="" id="" class="btn btn-primary rounded-4 text-uppercase" href="{% url 'register' %}"
                        role="button">Registrate
                        ahora</a>
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class=" w-100  tind-image tind-image-2 d-flex align-items-center " alt="...">
                <div class="ms-4">
                    <h2><b>¿Aún no te registras?</b>, <br>prueba ahora TindPlace</h2>
                    <a name="" id="" class="btn btn-primary rounded-4 text-uppercase" href="{% url 'register' %}"
                        role="button">Registrate
                        ahora</a>
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class=" w-100  tind-image tind-image-3 d-flex align-items-center " alt="...">
                <div class="ms-4">
                    <h2><b>¿Aún no te registras?</b>, <br>prueba ahora TindPlace</h2>
                    <a name="" id="" class="btn btn-primary rounded-4 text-uppercase" href="{% url 'register' %}"
                        role="button">Registrate
                        ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>