<!-- Aquí es donde renderizas los detalles de cada producto -->
<div class="row">
    <div class="col-8 d-flex align-items-center">
        <div id="carouselExample" class="carousel slide w-100 tind-modal-r-content">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://placehold.co/300x300/png" class="d-block w-100 card-img-top" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/300x300/png" class="d-block w-100 card-img-top" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/300x300/png" class="d-block w-100 card-img-top" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-4 bg-white tind-modal-r-content p-4">
        <div class="row">
            <div class="col">
                <p class="tind-modal-title">Nombre del producto: {{ product.prod_name }}</p>
                <p class="tind-modal-price">Precio : {{ product.prod_price }}</p>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center ">
                {% include 'btn-like.html' %}
            </div>

        </div>
        <div>

            <p>Descripción : {{ product.prod_description }}</p>
            <p>Vendedor : {{ product.prod_seller.user_name1 }} {{ product.prod_seller.user_surname1 }}</p>
        </div>
        <div class="comments">
            <h3>Preguntas:</h3>
            <div id="comentarioActualizado"> </div>
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.text }}</p>
            </div>
            {% empty %}
            <p>No hay comentarios para este producto aún.</p>
            {% endfor %}
        </div>
        <h2>Añade un comentario</h2>
        <form method="post" id="formId" action="{% url 'product_detail' product.prod_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar comentario</button>
        </form>

        <div class="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // ¿Este cookie string comienza con el nombre que queremos?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    document.getElementById('formId').addEventListener('submit', function (event) {
        event.preventDefault();
        let url = event.target.getAttribute('action');
        let data = new FormData(event.target);
        fetch(url, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken
            },
            body: data
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Aquí actualizas el div de los comentarios
                    let commentDiv = document.getElementById('comentarioActualizado');

                    // Crear un nuevo div para el nuevo comentario
                    let newCommentDiv = document.createElement('div');
                    newCommentDiv.className = "comment";  // Agrega la clase 'comment' al nuevo div
                    newCommentDiv.innerHTML = data.html;

                    // Añadir el nuevo comentario al contenido existente
                    commentDiv.appendChild(newCommentDiv);
                }
            });
    });

</script>