<!-- Aquí es donde renderizas los detalles de cada producto -->
<img class="card-img-top" src="https://placehold.co/300x300/png" alt="Card image cap">
    <p>Nombre del producto: {{ product.prod_name }}</p>
    <p>Descripción : {{ product.prod_description }}</p>
    <p>Precio : {{ product.prod_price }}</p>
    <p>Vendedor : {{ product.prod_seller.user_name1 }} {{ product.prod_seller.user_surname1 }}</p>

    <div class="comments">
      <h3>Comentarios:</h3>
      {% for comment in comments %}
          <div class="comment">
              <p>{{ comment.text }}</p>
          </div>
      {% empty %}
          <p>No hay comentarios para este producto aún.</p>
      {% endfor %}
  </div>
  <h2>Añade un comentario</h2>
  <form method="post" action="{% url 'product_detail' product.prod_id %}">
    {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar comentario</button>
  </form>
  