{% extends 'base.html' %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="{% static 'cardAndModal.css' %}">

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container" style="margin-bottom: 50px;">
    <h1 class="py-5 text-center display-4">Productos comprados</h1>

    <div class="row ">
                <!-- Verifica si hay mensajes antes de mostrar el bloque -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
        {% for product in sold_products %}
        <div class="col-sm-4">
            <div class="card mb-3">
                <img class="tind-card-img" src="{{ product.prod_photo1.url }}" alt="Card image cap"
                    onerror="imgError(this);">
                <div class="card-body">
                    <h5 class="card-title">{{ product.prod_name }}</h5>
                    <p class="card-text">{{ product.prod_description }}</p>
                    <p>Vendedor: {{ product.prod_seller.user_name1 }} {{ product.prod_seller.user_surname1 }}</p>
                    <form method="post" action="{% url 'rate_seller' product.prod_seller.user_id %}">
                        {% csrf_token %}
                        <label for="rating">Califica al vendedor:</label>

                        <div class="row">
                            <div class="col-6">
                                <div class="rating my-2 d-flex justify-content-around">
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"
                                        title="Malo">1</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"
                                        title="No muy bueno">2</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"
                                        title="Normal">3</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"
                                        title="Bueno">4</label>
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"
                                        title="Muy bueno">5</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Enviar</button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        {% empty %}
        <p>No has adquirido ningún producto todavía.</p>
        {% endfor %}
    </div>
</div>


<script>

    // Definir imgError fuera del bloque $(document).ready
    function imgError(image) {
        image.onerror = "";
        image.src = "";
        let svg = '<svg  height="60" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-3"><path d="M28 1.414L26.586 0L0 26.586L1.414 28L3.414 26H24C24.5302 25.9992 25.0384 25.7882 25.4133 25.4133C25.7882 25.0384 25.9992 24.5302 26 24V3.414L28 1.414ZM24 24H5.414L13.207 16.207L15.586 18.586C15.9611 18.9609 16.4697 19.1716 17 19.1716C17.5303 19.1716 18.0389 18.9609 18.414 18.586L20 17L24 20.997V24ZM24 18.168L21.414 15.582C21.0389 15.2071 20.5303 14.9964 20 14.9964C19.4697 14.9964 18.9611 15.2071 18.586 15.582L17 17.168L14.623 14.791L24 5.414V18.168ZM4 20V17L9 12.003L10.373 13.377L11.789 11.961L10.414 10.586C10.0389 10.2111 9.53033 10.0004 9 10.0004C8.46967 10.0004 7.96106 10.2111 7.586 10.586L4 14.172V4H20V2H4C3.46973 2.00053 2.96133 2.21141 2.58637 2.58637C2.21141 2.96133 2.00053 3.46973 2 4V20H4Z" fill="black" /></svg>';
        image.outerHTML = '<div class="w-100 position-relative d-flex align-items-center p-3 bg-light justify-content-center" style="height: 238px;">' + svg + '<p class="m-0"><b>¡Ups!</b> al parecer este producto<br> <i>no tiene imagen</i></p></div>';
        return true;
    }
</script>
{% endblock %}